*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

input{
  border: none;
  outline: none;
  background-color: transparent;
}

ul li {
  list-style:none
}
.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);

  width: 90vw;
  height: 100vh;
  margin: auto;

}



.container .sidebar{
  background-color:#0ea5e9;
  grid-area: 1/1/6/1;
  color: white;
  padding-top: 10px;
  padding-left: 20px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(10,1fr)
}

.container .sidebar .logo {
  grid-row: 1/2;
  align-items:center;

  display: flex;
  justify-content: start;
  gap: 10px;
}


.container .sidebar .logo h3 {
  font-size: 30px;
}


.container .sidebar .tabs{
  grid-row: 2/6 ;
}


.container .sidebar .settings{
  grid-row: 6/9;
} 


/* commonstyle in "tab" and "setting" section */
.item{
  font: large bold;
  display: flex;
  justify-content: start;
  gap: 5px;
  align-items: start;
  margin-bottom: 10px;
}

.item img {
  width: 30px;
  height: 30px;
}

.item a {
  display: inline-block;
  line-height: 30px;
}




.container .header{
  grid-area: 1/2/2/5;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  box-shadow: 0px 5px 3px #888888;
  z-index: 1;
}

.container .header .search{
  grid-area:1/1/2/3;
  display: flex;
  align-items: center;
  gap: 5px;
}

.container .header .search input {
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 25px;
  background-color:#cbd5e1;

}



.container .header .avatar{
  grid-area: 1/3/2/4;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}


.container .header .account{
  grid-area: 2/1/4/3;
  display: flex;
  align-items: center;
  gap: 5px;
}

.container .header .account .account_name p:last-child{
  font-size: 35px;
}


.container .header .action{
  display: flex;
  grid-area: 2/3/4/4;
  justify-content: end;
  align-items: center;
  gap: 20px;
}




.container .main {
  grid-area: 2/2/6/5;

  display: grid;
  grid-template: repeat(4,1fr)/ repeat(6,1fr);

  padding-top: 20px;
  background-color:#f3f4f6;
}

.container .main .projects{
  grid-column: 1/5;
  grid-row: 1/5;
  margin-right: 5px;
}

.container .main .projects .project_container {
  display: grid;
  grid-template-rows: repeat(3,200px);
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  margin-top: 5px;
}

.container .main .projects .project_container .project_item{
  /* grid-area: auto; */
  width: 100%;
  height: 90%;
  background-color: #facc15;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 1px 1px 1px #cbd5e1;

}

.container .main .projects .project_container .project_item .card{
  position: absolute;
  right: 0;
  width: 95%;
  height: 100%;
  background-color: white;
  border-radius: 0 20px 20px 0 ;
  padding-top: 30px;
  padding-left: 10px;
}

.container .main .projects .project_container .project_item .card .main_content {
  width: 100%;
  height: 80%;
}

.container .main .projects .project_container .project_item .card .icons{
  display: flex;
  justify-content: end;
  gap: 10px;

}

.container .main .projects .project_container .project_item .card .icons img {
  margin-right: 10px;
  width: 20px;
  height: 20px;


}




.container .main .announcements{
  grid-row: 1/3;
  grid-column: 5/7;
}

.container .main .announcements .ann_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 90%;

}

.container .main .announcements .ann_card .item{
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid gray;
  text-align: start;
  width: 80%;
  gap: 5px;
}
.container .main .announcements .ann_card .item:first-child{
  margin-top: 20px;
}

.container .main .announcements .ann_card .item h4 {
  font-size: 15px;
}
.container .main .announcements .ann_card .item p {
  font-size: 10px;
}







.container .main .Trending{
  grid-row: 3/5;
  grid-column: 5/7;
}

.container .main .Trending .Trending_card {
  height: 85%;
  display: flex;
  flex-direction: column;
  padding: 20px ;

}

.container .main .Trending .Trending_card .users{
  display: flex;
  gap:20px;
  width: 80%;
  margin-bottom: 10px;
}

.container .main .Trending .Trending_card .users .user_avatar{
  width: 50px;
  height: 50px;
}

.container .main .Trending .Trending_card .users .username p{
  font-size: 20px;
}
.container .main .Trending .Trending_card .users .username span{
  font-size: 14px;
  color: #888888;
}



/* some common styles */
.pd {
  padding-left: 10px;
  padding-right: 20px;
}

.avatar_small {
  border-radius: 50%;
  background-image: url('./assets/avatar.jpeg');
  background-size: 100%;
  background-position-y: 80%;

}

.btn {
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  background-color: #0ea5e9;
  border-radius: 25px;
  color: white;
  font-size: 15px;

}

.card {
  background-color: white;
  box-shadow: 1px 1px 1px 1px #cbd5e1;;
  border-radius: 25px;
  width: 90%;
  margin: 0 auto;
}
/* 
.container div {
  border: 1px solid red;

} */


